nav .nav-wrapper {
    background-color: mediumseagreen;
}

nav .brand-logo {
    color: black;
    padding: 2px 2px 2px 10px;
}

.waves-effect {
    color: black;
}


body { 
    padding-top: 100px;
    vertical-align: middle;    
}

#bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

.card .card-action {
    padding: 6px 6px 6px 6px;
    border-radius: 15px;
}

.card .card-content {
    text-align: center
}

.card {
    border-radius: 15px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.input-field {
    background-color: white;
    border-radius: 15px;
    border-bottom-color: black;
}

::placeholder {
    color: black;
}

.btn-floating i {
    color: black;
}
