  <img src="https://i.pinimg.com/originals/76/e3/86/76e386e377e871a20ac7c694a5a65c6e.jpg" id="bg" alt="">
    <div class="login-box">
      <h1>Login Here</h1>
      <form>
        <p>Username</p>
        <input type="text" [(ngModel)]="username" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Enter Password">
        <button (click)='submitLogin()'>Login</button> 
        <!-- Add authentication for login click here, right now it just routes to homepage -->
      </form>
      </div>
